{% extends "base.html" %}
{% load cache %}
{% block title %}Последние обновления Автора{% endblock %}


{% block content %}
<div class="main__header">
    <h1 class="main__title">Вероника Чернова</h1>
    {% include 'recipe/includes/tags.html' %}

</div>
<!--        <p style="padding: 0 0 2em 0;"><a class="button button_style_light-blue" href="#">Подписаться на автора</a></p>-->
<div class="author-subscribe" data-author="323">
    <p style="padding: 0 0 2em 0;">
        <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на
            автора
        </button>
    </p>
</div>
<div class="card-list">
    {% for x in '0123456789'|make_list %}
    {% include 'recipe/includes/item_card.html' %}
    {% endfor %}
</div>
{% endblock %}