{% extends "base.html" %}
{% load cache %}
{% block title %}Избранное{% endblock %}


{% block content %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
</div>
{% include 'recipe/includes/tags.html' %}
<div class="card-list">
    {% for item in page %}
    {% include 'recipe/includes/item_card.html' %}
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script src="/static/js/components/MainCards.js"></script>

<script src="/static/js/components/Purchases.js"></script>
<script src="/static/js/components/Favorites.js"></script>

<script src="/static/js/config/config.js"></script>
<script src="/static/js/components/CardList.js"></script>
<script src="/static/js/components/Header.js"></script>

<script src="/static/js/api/Api.js"></script>
<script src="/static/favorite.js"></script>
{% endblock %}