{% extends "base.html" %}
{% block main_css %}/static/pages/myFollow.css{% endblock %}
{% load support_tags %}
{% load cache %}
{% block title %}My followings{% endblock %}


{% block content %}
    {% csrf_token %}
    {% include "includes/nav.html"  with following=True %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Following</h1>
        </div>
        <div class="card-list">
            {% for author in authors %}
                {% get_recipes_of author as recipes %}

                <div class="card-user" data-author="{{ author.id }}">
                    <div class="card-user__header">
                        <h2 class="card-user__title">{{ author.first_name }}</h2>
                    </div>

                    <div class="card-user__body">
                        <ul class="card-user__items">
                            {% for recipe in recipes %}
                                <li class="card-user__item">
                                    <div class="recipe">
                                        <img src="{{ recipe.image.url }}"
                                             alt="{{ recipe.name }}"
                                             class="recipe__image">
                                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                                        <p class="recipe__text"><span
                                                class="icon-time"></span> {{ recipe.cook_time }}
                                            min.</p>
                                    </div>
                                </li>
                            {% endfor %}

                            <li class="card-user__item">
                                <a href="{% url "author_recipe" author.username %}"
                                   class="card-user__link link">Total {% get_total_numbers_of_recipes author %}
                                    recipes...</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-user__footer">
                        <button class="button button_style_light-blue button_size_auto"
                                name="subscribe">Unsubscribe
                        </button>
                    </div>
                </div>
            {% endfor %}


        </div>
        {% if authors %}
            {% include "includes/pagination.html" with items=authors paginator=paginator %}
        {% endif %}
    </main>
{% endblock %}
{% block js %}
    <script src="/static/js/config/config.js"></script>
    <script src="/static/js/components/MainCards.js"></script>
    <script src="/static/js/components/MyFollow.js"></script>
    <script src="/static/js/components/Subscribe.js"></script>
    <script src="/static/js/components/Header.js"></script>
    <script src="/static/js/api/Api.js"></script>
    <script src="/static/myFollow.js"></script>
{% endblock %}

