{% load support_tags %}

<ul class="tags">
    {% for tag in tags_objects %}
        <li class="tags__item">
            <a id="{{ tag.name }}"
               class="tags__checkbox tags__checkbox_style_{{ tag.color }}{% if tag.name in tags %} tags__checkbox_active{% endif %}"
               href="{% if tag.name in tags %}{% delete_get_param request tags tag.name %}{% else %}{% add_get_param request.get_full_path tag.name %}{% endif %}"></a>
            <span class="tags__label">{{ tag.nice_name }}</span>
        </li>
    {% endfor %}
</ul>
