{% load support_tags %}
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Cafetveria.ru</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav__item"><a href="{% url 'new_recipe' %}" class="nav__link link">New Recipe</a></li>
                <li class="nav__item"><a href="{% url 'my_follow' %}" class="nav__link link">Following</a>
                 <span class="badge badge_style_blue nav__badge" id="counter3">{% how_many_following request.user %}</span></li>

                <li class="nav__item"><a href="{% url 'favorite' %}" class="nav__link link">Favorites</a>
                <span class="badge badge_style_blue nav__badge" id="counter2">{% how_many_favorites request.user %}</span></li>
                <li class="nav__item"><a href="{% url 'shoplist' %}" class="nav__link link">Cart</a> <span
                        class="badge badge_style_blue nav__badge" id="counter">{% how_many_listed request.user %}</span></li>
                {% endif %}


            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">{{ request.user.username }}</a>
                </li>

                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Log Out</a></li>
                {% else %}
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Log In</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>