{% extends "base.html" %}
{% block title %}Technology stack{% endblock %}

{% block content %}
    {% include "includes/nav.html" %}
    <main class="main container">
        <div class="custom-center-block">
            <p class="custom-text-block">Stack: Django, Gunicorn, PostgreSQL,
                Nginx, Caddy</p>
            <div class="custom-button-block">

                <a href="{% url "index" %}" class="button button_style_blue">Go
                    back to main page
                </a>

            </div>
        </div>
    </main>

{% endblock %}
