{% extends "base.html" %}
{% block title %}Logged out{% endblock %}

{% block content %}
    {% include 'includes/nav.html'  with logout=True %}
    <main class="main container">
        <div class="custom-center-block">
            <p class="custom-text-block">Come see us again</p>
            <div class="custom-button-block">
                <a href="/">
                    <button class="button button_style_blue">Go back to main
                        page
                    </button>
                </a>
            </div>
        </div>
    </main>

{% endblock %}
