{% extends "base.html" %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}Change password{% endblock %}
{% block content %}
    {% load user_filters %}
    {% include 'includes/nav.html'  with password_change=True %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Change password</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="form__group">
                    <label for="id_oldPassword" class="form__label">Old password</label>
                    <div class="form__field-group">
                        <input type="password" name="old_password" id="id_oldPassword" class="form__input">
                        <span class="form__error">{% if "old_password" in form.errors %}That is not an old password{% endif %}</span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_newPassword" class="form__label">New password</label>
                    <div class="form__field-group">
                        <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                        <span class="form__input-info">Not username</span>
                        <span class="form__input-info">At least 8 characters</span>
                        <span class="form__input-info">Not common</span>
                        <span class="form__input-info">Not only digits</span>
                        <span class="form__error">{{ form.new_password1.error }}</span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_confirmPassword" class="form__label">Confirm</label>
                    <div class="form__field-group">
                        <input type="password" name="new_password2" id="id_confirmPassword" class="form__input">
                        <span class="form__error">{% if "new_password2" in form.errors %}Password mismatch{% endif %}</span>
                    </div>
                </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Change password</button>
                </div>
            </form>
        </div>


    </main>

{% endblock %}
