{% extends "base.html" %}
{% block title %}Password reset successful{% endblock %}

{% block content %}
    {% include 'includes/nav.html'  with login=True %}
    <main class="main container">
        <div class="custom-center-block">
            <p class="custom-text-block">Password reset successful. Check email
                and follow the link</p>
            <div class="custom-button-block">
                <a href="{% url "login" %}"
                <button class="button button_style_blue">Go back to login
                    page
                </button>
                </a>
            </div>
        </div>

    </main>
{% endblock %}
