{% extends "base.html" %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}Change password{% endblock %}
{% block content %}


    {% if validlink %}
        {% load user_filters %}
        {% include 'includes/nav.html'  with password_change=True %}
        <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Change password</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}"
                               class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                            {{ field|addclass:"form__input" }}

                            <span class="form__error">{{ field.errors }}</span>
                        </div>
                    </div>
                {% endfor %}


                <div class="form__footer">
                    <button class="button button_style_blue">Reset password
                    </button>
                </div>
            </form>
        </div>
    {% else %}


        <div class="custom-center-block">
            <p class="custom-text-block">Link outdated</p>
            <div class="custom-button-block">
                <a href="{% url "index" %}" class="button button_style_blue">Go
                    back to main page
                </a>
            </div>
        </div>

    {% endif %}

</main>
{% endblock %}
