{% extends "base.html" %}
{% block title %}Password is changed{% endblock %}

{% block content %}
    {% include 'includes/nav.html'  with password_change=True %}
    <main class="main container">

        <div class="custom-center-block">
            <p class="custom-text-block">Password is changed</p>
            <div class="custom-button-block">
                <a href="{% url "index" %}" class="button button_style_blue">Go
                    back to main page
                </a>
            </div>
        </div>
    </main>



{% endblock %}