{% extends "base.html" %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}Reset password{% endblock %}
{% block content %}
    {% load user_filters %}
    {% include 'includes/nav.html'  with login=True %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Reset password</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <p class="form__info-text">
                   Enter registration email
                </p>
                <div class="form__group">
                    <label for="id_email" class="form__label">Email</label>
                    <div class="form__field-group">
                        <input type="email" name="email" id="id_email" class="form__input">
                        <span class="form__error">{{ form.email.error }}</span>
                    </div>
                </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Reset</button>
                </div>
            </form>
        </div>
    </main>

{% endblock %}
