{% extends "base.html" %}
{% block main_css %}/static/pages/form.css{% endblock %}
{% block title %}Change password{% endblock %}
{% block content %}
    {% load user_filters %}
    {% include 'includes/nav.html'  with password_change=True %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Change password</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="form__group">
                    <label for="id_oldPassword" class="form__label">Old password</label>
                    <div class="form__field-group">
                        <input type="password" name="old_password" id="id_oldPassword" class="form__input">
                        <span class="form__error">{% if "old_password" in form.errors %}That is not an old password{% endif %}</span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_newPassword" class="form__label">New password</label>
                    <div class="form__field-group">
                        <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                        <span class="form__input-info">Not username</span>
                        <span class="form__input-info">At least 8 characters</span>
                        <span class="form__input-info">Not common</span>
                        <span class="form__input-info">Not only digits</span>
                        <span class="form__error">{{ form.new_password1.error }}</span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_confirmPassword" class="form__label">Confirm</label>
                    <div class="form__field-group">
                        <input type="password" name="new_password2" id="id_confirmPassword" class="form__input">
                        <span class="form__error">{% if "new_password2" in form.errors %}Password mismatch{% endif %}</span>
                    </div>
                </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Change password</button>
                </div>
            </form>
        </div>


    </main>

{% endblock %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Изменить пароль</div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row" aria-required={% if field.field.required %}
                            "true"{% else %}"false"{% endif %}>
                        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                            {{ field.label
                                    }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                        <div class="col-md-6">

                            {# подключаем фильтр и указываем класс #}
                            {{ field|addclass:"form-control" }}

                            {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                    {{ field.help_text|safe
                                            }}</small>
                            {% endif %}
                        </div>
                        </div>
                    {% endfor %}

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Изменить пароль
                </button>
            </div>
            </form>

        </div> <!-- card body -->
    </div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->