{% extends "base.html" %}
{% load cache %}
{% block title %}Последние обновления на сайте{% endblock %}


{% block content %}
    {% include 'includes/nav.html' with index=True %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% block header %}Главная страница{% endblock %}</h1>
            {% include 'recipe/includes/tags.html' %}
        </div>
        <div class="card-list">
            {% for item in page %}
                {% include 'recipe/includes/item_card.html' %}
            {% endfor %}
        </div>
        {% if page %}
            {% include 'includes/pagination.html' with items=page paginator=paginator %}
        {% endif %}
    </main>>
{% endblock %}
